<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Login | Library Portal</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex items-center justify-center p-6 bg-slate-50 font-sans">

<!-- Back Home -->
<div class="fixed top-8 left-8">
<a href="/" class="flex items-center gap-2 group">

<div class="w-10 h-10 bg-white shadow border border-slate-200 rounded-lg flex items-center justify-center text-teal-600 group-hover:border-teal-500 transition">
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
</svg>
</div>



</a>
</div>

<!-- Login Card -->
<div class="w-full max-w-md">

<div class="bg-white rounded-2xl shadow-xl border border-slate-100 p-8">

<!-- Heading -->
<div class="mb-8">
<h2 class="text-2xl text-slate-900 text-center font-bold">
Student <span class="text-teal-600">Login</span>
</h2>

</div>

<form action="/User/login" method="POST" class="space-y-4" autocomplete="off">

<!-- Email -->
<div>
<label class="text-[11px] font-bold text-slate-600 uppercase">
Email Address
</label>

<input
type="email"
name="email" placeholder="enter a  email address"
required autocomplete="email"
class="w-full mt-1 px-3 py-2 bg-slate-50 border border-slate-200 rounded-lg text-sm focus:ring-2 focus:ring-teal-500 outline-none"
>
</div>

<!-- Password -->
<div>
<label class="text-[11px] font-bold text-slate-600 uppercase">
Password
</label>

<input
type="password"
name="password" placeholder="enter a password"
required autocomplete="new-password"
class="w-full mt-1 px-3 py-2 bg-slate-50 border border-slate-200 rounded-lg text-sm focus:ring-2 focus:ring-teal-500 outline-none"
>
</div>

<!-- Button -->
<button
type="submit"
class="w-full bg-teal-600 text-white py-2.5 rounded-xl text-sm font-bold hover:bg-teal-700 transition"
>
Sign In
</button>

</form>

<!-- Footer -->
<div class="mt-8 pt-6 border-t border-slate-100 text-center">
<p class="text-sm text-slate-500">
New Student?
<a href="/" class="text-teal-600 font-semibold hover:underline ml-1">
Create Account
</a>
</p>
</div>

</div>
</div>

</body>
</html>
